.hero {
  display: flex;
  column-gap: 24px;
}

.heroDescription {
  max-width: 756px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroDescriptionTitle p {
  margin-top: 12px;
}

.heroTitle {
  font-weight: 900;
  font-size: 36px;
}

.calculatorForm {
  background-color: var(--main-color-white);
  max-width: 756px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-radius: var(--border-radius-l);
}

.calculatorFormTitle {
  text-align: center;
  margin-bottom: 28px;
}

.calculatorFormTitle p {
  max-width: 358px;
  margin-top: 16px;
}

.calculatorFormInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 496px;
  width: 100%;
  gap: 24px;
}

.calculatorFormInputs li {
  max-width: 100%;
}

.calculatorInput {
  width: 100%;
}

.calculatorFormInputs li:nth-child(1) {
  grid-column: span 2;
}

.calculatorFormButton {
  max-width: 31rem;
  height: 2.75rem;
  width: 100%;
  margin-top: 28px;
}
