.header {
  background-color: var(--main-color-white);
  padding-bottom: 24px;
}
.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerContact {
  display: flex;
  column-gap: 12px;
}
